*.json
*.parquet

.env
.env.local
.env.*.local
.log
.vscode/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
setup.cpp

# Virtual environments
.venv/
venv/
env/
oxsium/

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Logs and temp
*.log
*.tmp
*.bak
*mssqlserver


